h1 {
	color: rgb(0, 52, 80);
	text-align:center;
}

section {
	font-size:146%;
	background-color:LightGray;
	color:rgb(0, 77, 71);
	width: 1500px;

}

h2 {
	
	
	border: 10px solid white;
	padding: 10px;
	margin: 25px;
	text-align: center;
	word-spacing: 40px;
	border-color:white;
	background-color:LightGray;
	
	
	}
	
a:hover  {
  	color:white;
}	
a:link  {
  	text-decoration:none;
}
a:visited {
  	color;blue;
}
a:active {
  	color;blue;
}
	
